@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Fasthand&family=Montserrat:wght@100&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body { 
  background-image: url("images/wood.jpg");
  background-repeat: none;  
  overflow-x: hidden;
}

.main-header {
    z-index: 100;
    width: 100%;
    background: #000000;
	  box-shadow: 0Fx 3px 4px 0px rgba(0,0,0,.4);
    position: fixed;
}
.menu-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    margin: auto;
    padding: 15px;
}

.menu-wrap p{
    width: 100%;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}
.logo-wrap {
    width: 320px;
    margin-left: -20px;
    padding: auto;
}
.logo-wrap img {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    transition: height .0s ease-out .4s, opacity .2s ease-out .2s, padding-left .2s ease-in 0s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 400;
    padding-left: 100%;
    word-spacing: -1px;
    background-image: url("images/wood.jpg");
    background-repeat: none;  
}

.main-nav a{
    text-decoration: none;
}

.nav-item {
    display: block;
    padding: 7px 10px;
    margin: 5px auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100%;
    text-align: center;
    z-index: 100;
}
.nav-item:first-of-type {
    margin-top: 20vh;
}

.drop-trigger {
    height: 34px;
    width: 50px;
    position: relative;
    background: rgba(0,0,0,0);
    transition: all .1s ease-out 0s;
    z-index: 450;
    border-width: 0;
    margin-left: auto;
}
.drop-trigger .btn-bar {
    position: absolute;
    display: block;
    top: 20%;
    height: 4px;
    width: 90%;
    transition: all .4s ease-in 0s;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-0%) rotate(-0deg);
}
.btn-bar.middle {
    top: 50%;
    transform: translateX(-50%)  translateY(-50%) rotate(0deg);
}
.btn-bar.bottom {
    top: calc(80% - 3px);
}
.nav-revert {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
}
#nav-tog {
    display: none;
}
#nav-tog:checked ~ .drop-trigger .btn-bar {
    transition-timing-function: ease-out;
}
#nav-tog:checked ~ .drop-trigger .btn-bar {
    top: 50%;
    background: rgb(255, 255, 255);
}
#nav-tog:checked ~ .drop-trigger .btn-bar.top {
    transform: translateX(-50%)  translateY(-50%) rotate(-315deg);
}
#nav-tog:checked ~ .drop-trigger .btn-bar.middle {
    transform: translateX(-50%)  translateY(-50%) rotate(-225deg);
}
#nav-tog:checked ~ .drop-trigger .btn-bar.bottom {
    transform: translateX(-50%) translateY(-50%) rotate(-225deg);
}
#nav-tog:checked ~ .main-nav {
    transition: height .0s ease-in 0s, opacity .2s ease-in 0s, padding-left .23s ease-out .21s;
    opacity: 1;
    height: 100vh;
    padding-left: 0%;
}

@media screen and (min-width: 1310px){
    .drop-trigger,
    .nav-revert {
        display: none;
    }
    .main-nav {
        height: auto;
        position: relative;
        padding-left: 0%;
        flex-direction: row;
        justify-content: flex-end;
        opacity: 1;
        background: rgba(0,0,0,0);
    }
    .nav-item:first-of-type{
        margin-top: 0;
    }
    .nav-item {
        font-size: 18px;
        margin: 0 5px;
        color: rgb(250,250,250);
        width: auto;
    }
    
}



/*All Pages*/

.onetext, h3{
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  letter-spacing: 0.5px;
  }
  
  .twotext, h2 {
    font-weight: 500;
    color: #ffffff;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .maintext, .maintext{
    color: #ffffff;
    padding: 10px;
  }

  .a{
    text-decoration: none;
  }

/*Home Page */


.homeredirectbuttons, a{
  text-decoration: none;
  color: #000;
}




.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 20px;
  width: 340px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: #324452;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

  .buttontextcolor{
    color: #ffffff;
  }

.button:hover {
  background-color: #435b6e;
  box-shadow: 0px 15px 20px #374a58;
  color: #fff;
  transform: translateY(-7px);
}













/*About Us*/








.responsive {
  padding: 20px;
  margin: auto;
  width: 100%;
  max-width: 400px;
}




.sm a{
  display: inline-flex;
  text-decoration: none;
  font-size: 37px;
  width: 70px;
  height: 70px;
  color: #f0f0f0;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 7px;
}
.sm a::before{
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 25%;
  z-index: -1;
  transition: transform .3s ease-in;
}
.sm a:nth-child(1)::before{
  background: #0044ff;
}
.sm a:nth-child(2)::before{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,
  #dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.sm a:nth-child(3)::before{
  background: #1c96e9;
}
.sm a:nth-child(4)::before{
  background: #f70000;
}
.sm a:nth-child(5)::before{
  background: #046596;
}
.sm a:hover::before{
  transform: scale(0);
}
.sm a i{
  transition: transform .3s ease-in;
}
.sm a:nth-child(1):hover i{
  background: #38529a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}
.sm a:nth-child(2):hover i{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,
  #dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}
.sm a:nth-child(3):hover i{
  background: #1c96e9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}
.sm a:nth-child(4):hover i{
  background: #f70000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}







/*Service Page*/

.container {
  width: 100%;
  height: 100%;
  padding: 0px 15%;
}

.container h1 {
  text-align: center;
  padding-top: 30%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.container h1::after {
  content: '';
  background: #71b547;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 100px;
}

.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.4s, background 0.4s;
  background-color: #ffffff;
  font-weight: 500;
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #000035;
}

.service h2 {
  font-weight: 900;
  margin-bottom: 8px;
  color: #71b547;
}

.service:hover {
  background: #71b547;
  color: #fff;
  transform: scale(1.05);
}

.service:hover h2 {
  color: #ffffff;
}

.service:hover i {
  color: #ffffff;
}

.service:hover{
  color: #ffffff;
}
















/*Team*/



.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.container {
  max-width: 1380px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  background-color: #b5b5b5;
}

.card-container {
  width: 280px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(0, 0, 0);
  line-height: 30px;
}

.social-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}





/*Prices*/

.pricingTable10{
  text-align:center;
}


.pricingTable10 .pricingTable-header{
  padding:30px 0;
  background:#4d4d4d;
  position:relative;
  transition:all .3s ease 0s;
}


.pricingTable10:hover .pricingTable-header{
  background:#71b547;
}


.pricingTable10 .pricingTable-header:after,.pricingTable10 .pricingTable-header:before{
  content:"";
  width:16px;
  height:16px;
  border-radius:50%;
  border:1px solid #d9d9d8;
  position:absolute;
  bottom:12px
}


.pricingTable10 .pricingTable-header:before{
  left:40px
}


.pricingTable10 .pricingTable-header:after{
  right:40px
}


.pricingTable10 .heading{
  font-size:20px;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:2px;
  margin-top:0}


.pricingTable10 .price-value{display:inline-block;
  position:relative;
  font-size:55px;
  font-weight:700;
  color:#ffffff;
  transition:all .3s ease 0s;
}


.pricingTable10:hover .price-value{
  color:#fff;
}


.pricingTable10 .currency{font-size:30px;
  font-weight:700;
  position:absolute;
  top:6px;
  left:-19px;
}


.pricingTable10 .month{font-size:16px;
  color:#fff;
  position:absolute;
  bottom:15px;right:-30px;
  text-transform:uppercase;
}


.pricingTable10 .pricing-content{
  padding-top:50px;
  background:#e3e3e3;
  position:relative;
  margin-bottom: -80px;
}


.pricingTable10 .pricing-content:after,.pricingTable10 .pricing-content:before{
  content:"";
  width:16px;
  height:16px;
  border-radius:50%;
  border:1px solid #7c7c7c;
  position:absolute;
  top:12px
}


.pricingTable10 .pricing-content:before{
  left:40px
}


.pricingTable10 .pricing-content:after{
  right:40px
}


.pricingTable10 .pricing-content ul{
  padding:0 20px;
  margin:0;
  list-style:none
}


.pricingTable10 .pricing-content ul:after,.pricingTable10 .pricing-content ul:before{
  content:"";
  width:8px;
  height:46px;
  border-radius:3px;
  background:linear-gradient(to bottom,#818282 50%,#727373 50%);
  position:absolute;
  top:-22px;z-index:1;box-shadow:0 0 5px #707070;transition:all .3s ease 0s}


.pricingTable10:hover .pricing-content ul:after,.pricingTable10:hover .pricing-content ul:before{
  background:linear-gradient(to bottom,#71b547 50%,#71b547 50%)}


.pricingTable10 .pricing-content ul:before{
  left:44px
}


.pricingTable10 .pricing-content ul:after{
  right:44px
}


.pricingTable10 .pricing-content ul li{
  font-size:15px;
  font-weight:700;
  color:#777473;
  padding:10px 0;
  border-bottom:1px solid #d9d9d8
}
.pricingTable10 .pricing-content ul li:last-child{
  border-bottom:none
}


.pricingTable10 .read{
  display:inline-block;
  font-size:16px;
  color:#fff;
  text-transform:uppercase;
  background:#d9d9d8;
  padding:8px 25px;margin:30px 0;
  transition:all .3s ease 0s
}


.pricingTable10 .read:hover{
  text-decoration:none
}


.pricingTable10:hover .read{
  background:#71b547;
}


@media screen and (max-width:990px){
  .pricingTable10
  {margin-bottom:25px}
}



.pricingtext{
  font: 1em;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(229, 229, 229);
}














/*Contact Us*/


text{
  color: #ffffff;
}

iframe{
  width: 100%;
  margin: auto;
}



*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }




input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #000000;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #000000;
	font-weight: 300;
}


/* Contact Form Styling */
.container {
	padding: 0 50px 70px;
  margin-top: 60px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}



.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
  color: #ffffff;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
  margin-top: 10px;
	  padding: 15px 40px;
    width: 100%;
    color: #fff;
    border: 0;
    background: #324452;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.section2 .sec2contactform input[type="submit"]:hover {
background-color: #465f71 ;
}

.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #ffffff;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}





























/*Footer*/


.footer{
  background: #000000;
  margin-top: 50px;
}

.footer .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box{
  margin: 2rem;
  flex:1 1 30rem;
  
}

.footer .box-container .box h3{
  font-size: 30px;
  font-weight: bold;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 15px;
  color:#eee;
  padding:1rem 0;
  font-weight: bold;
}

.footer .box-container .box a{
  margin-top: 10px;
  font-size: 20px;
  color:#eee;
  padding: .4rem 0;
  display: block;
  font-weight: bold;
}

.footer .box-container .box a:hover{
  text-decoration: underline;
}

.footer .box-container .box:nth-child(2){
  text-align: center;
}

.footer .box-container form{
  display: flex;
  align-items: center;
}

.footer .box-container form .btn{
  margin-top: 0px;
}

.footer .box-container form .btn:hover{
  color:#333;
  background:#ccc;
  font-weight: bold;
}

.footer .credit{
  font-size: 13px;
  background:#0f0f0f;
  text-align: center;
  color:#fff;
  padding:2rem 1rem;
  font-weight: bold;
}

.footer .credit a{
  color: white;
  font-weight: bold;
  font-size: 15px;
}


  .footer .box-container .box:last-child{
      text-align: center;
      font-weight: bold;
  }

  .footer .box-container .box:last-child p{
      font-size: 1.7rem;
      font-weight: bold;
  }







  



























  .floating_btn {
  position: fixed;
  bottom: 30px;
  right: 25px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  z-index: 10;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  background-color: #42db87;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}


.text_icon {
  margin-top: 8px;
  color: #707070;
  font-size: 13px;
}